auto-save-list/*
.DS_Store
elpa/*
desktops
url
ido.last
.emacs-buffers
projectile-bookmarks.eld
projectile.cache

# basic Emacs.gitignore from https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# straight package manager files
straight/build
straight/build-cache.el
straight/repos
